version: '3.8'
services:
  mysql-db:
    image: mysql:8.0
    container_name: fitlife-mysql
    restart: always
    environment:
      MYSQL_DATABASE: FitlifeDB
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  db_data: