<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitLife Ecosystem</title>
    <div th:replace="~{fragments/head :: head_css}"></div>
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{fragments/header :: header_menu}"></header>

<main class="flex-grow-1">
    <div layout:fragment="content"></div>
</main>

<footer th:replace="~{fragments/footer :: footer_info}"></footer>

<div th:replace="~{fragments/head :: footer_js}"></div>

</body>
</html>