<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer_info">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5>FITLIFE ECOSYSTEM</h5>
        <p class="small text-secondary">Đối tác tin cậy trên hành trình chinh phục vóc dáng của bạn. Cung cấp dụng cụ và thực phẩm bổ sung chính hãng.</p>
      </div>
      <div class="col-md-4 mb-4">
        <h5>LIÊN HỆ</h5>
        <ul class="list-unstyled text-secondary small">
          <li class="mb-2"><i class="fa-solid fa-location-dot me-2"></i> FPoly, TP.HCM</li>
          <li class="mb-2"><i class="fa-solid fa-phone me-2"></i> 0987.654.321</li>
          <li><i class="fa-solid fa-envelope me-2"></i> contact@fitlife.vn</li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5>KẾT NỐI</h5>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
    <hr class="border-secondary opacity-25">
    <p class="text-center small text-secondary mb-0">© 2024 FitLife Project. Designed by You.</p>
  </div>
</footer>
</body>
</html>